@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
* {
    margin: 0;
    font-family: 'Quicksand';
    color: rgb(109, 109, 109);
    text-decoration: none;
}

.navbar {
    height: 70px;
    padding: 0px;
    display: flex;
    align-items: center;
    max-width: 90%;
    margin: 5px auto;
    border-bottom: 1px solid #d8d8d8;   
}

.navbar img {
    width: 17%;
    height: 17%;

}

.links {
    margin: auto;

}

.navbar a {
    margin-left: -60px;
    padding: 0px 50px;
}

.navbar a:hover {
    color: #2396f3;
}

.content {
    max-width: 100%;
}
.pages {
    display: grid;
    grid-template-columns: auto auto;
    margin: 5px 60px;

}

.headlist {
    display: grid;
    grid-template-columns: auto auto auto auto;
    font-size: 10px;
    align-items: center;
   
}

.profilestored {
    border-left: 1px solid  #504b4b ;
    height: 500px;
    width: 100%;


}

.headlist h2{
    border-right: 1px solid #504b4b;
    width: 78px;
    padding: 5px;
}


.pages input {
    display: block;
    margin: 10px auto;
    width: 50%;
    border: 2px solid;
    border-radius: 10px;
    border-color: rgb(207, 207, 207);
    padding: 10px;
}

.pages label {
    display: block;
    text-align: center;
    margin-top: 130px;
    margin-left: auto;
    font-size: 200%;
} 

.pages button{
    display: block;
    margin: 5px auto;
    width: 90px;
    background-color: #4CAF50;
    border: none;
    color: white;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
}

.detailslist {
    display: grid;
    grid-template-columns: auto auto auto auto;
    border-bottom: 1px solid #504b4b;
    margin-top: 5px;
}

.detailslist p {
    width: 25%;
    /* border-bottom: 1px solid #d8d8d8;  */
    
}

